{# templates/inmuebles/solicitudarriendo_form.html #}

{% block content %}

<div class="container py-4">

    <!-- Ficha del inmueble -->
     <div class="card mb-4 shadow-sm">
        <div class="row g-0">
            <div class="col-md-5">
                {# Si algún día agregas campo imagen al modelo, cámbialo a inmueble.imagen.url  #}
                <img
                    src="{% if inmueble.imagen %}" {{ inmueble.imagen.url }}{% else %}https://picsum.photos/600/400/?random={{ inmueble.id }} endif %}"
                    class="img-fluid rounded-start w-100 h-100 object-fit-cover"
                    alt="Imagen de {{ inmueble.nombre }}">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h4 class="card-title mb-1">{{ inmueble.nombre }}</h4>
                        <p class="text-muted mb-2">
                            {{ inmueble.comuna.nombre }} . {{ inmueble.get_tipo_de_inmueble_display }}
                        </p>
                        <p class="mb-3"> {{ inmueble.descripcion|default:"(sin descripción)" }}</p>
                        <ul class="list-inline small mb-3">
                            <li class="list-inline-item me-3"><strong>Construidos:</strong> {{ inmueble.m2_construidos }} m²</li>
                            <li class="list-inline-item me-3"><strong>Totales:</strong> {{ inmueble.m2_totales }} m²</li>
                            <li class="list-inline-item me-3"><strong>Habitaciones:</strong> {{ inmueble.dormitorios }}</li>
                            <li class="list-inline-item me-3"><strong>Baños:</strong> {{ inmueble.banos }}</li>
                            <li class="list-inline-item me-3"><strong>Estacionamientos:</strong> {{ inmueble.estacionamientos }}</li>
                        </ul>
                        <h5 class="text-success mb-0">
                            ${{ inmueble.precio_mensual }} /mes
                        </h5>
                    </div>
                </div>
        </div>
     </div>
</div>


{% endblock %}